textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

.unsel {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

a:link {
  text-decoration: none;
}

.clock {
  font-size: 70px;
  position: absolute;
  top: 80px;
}
.date {
  font-size: 20px;
  position: absolute;
  top: 125px;
}
.click {
  position: absolute;
  margin-top: 710px;
}

.open {
  border-radius: 10px;
  border: 3px solid #fff;
  margin-top: 735px;
  width: 125px;
  background: #fff;
}
.back {
  border-radius: 10px;
  border: 3px solid #000;
  margin-top: 735px;
  width: 125px;
  position: relative;
  top: 25px;
  background: #000;
}
.back-white {
  border-radius: 10px;
  border: 3px solid #fff;
  margin-top: 735px;
  width: 125px;
  position: relative;
  top: 25px;
  background: #fff;
}

iframe {
  position: fixed;
  top: 49.7%;
  left: 49.9%;
  transform: translate(-49.6%, -49.9%);
}

/**** APPS ****/
.apps, .apps-text {
  position: relative;
  right: 1px;
}

/*** GALLERY ***/
.app-gallery {
  width: 90%;
  background: rgb(255, 255, 255, 0.5);
  border-radius: 25px;
  margin: auto;
  position: relative;
  top: 300px;
  height: 95px;
}

.g-app1 {
  top: 15px;
  left: 15px;
  position: relative;
}
.g-app2 {
  top: 15px;
  left: 25px;
  position: relative;
}

/*** MAIN APPS ***/
.app1 {
  margin-top: 45px;
  margin-left: 15px;
}

.app2 {
  border-radius: 15px;
  background: #fff;
  width: 65px;
  height: 65px;
  margin-left: 100px;
  position: relative;
  bottom: 69px;
}
.app2-date {
  color: #FF2828;
  font-family: "SFDisplay Light";
  font-size: 12px;
  top: 9px;
  position: relative;
  font-weight: bolder;
  letter-spacing: 1px;
}
.app2-no {
  color: #1F1F1F;
  font-family: "SFDisplay Light";
  font-size: 35px;
  bottom: 13px;
  position: relative;
}

.app3 {
  position: relative;
  bottom: 134px;
  left: 185px;
}

.app4 {
  position: relative;
  bottom: 134px;
  left: 201px;
}

.app5 {
  position: relative;
  bottom: 30px;
  right: 123px;
}

.app6 {
  position: relative;
  bottom: 30px;
  right: 107px;
}

.app7 {
  position: relative;
  bottom: 30px;
  right: 91px;
}

.app8 {
  position: relative;
  bottom: 99px;
  left: 270px;
}

.app9 {
  position: relative;
  top: 8px;
  right: 54px;
}

.app10 {
  position: relative;
  top: 9px;
  right: 38px;
}

.app11 {
  position: relative;
  top: 9px;
  right: 23px;
}

.app12 {
  position: relative;
  top: 9px;
  right: 6px;
}

/*** TEXT ***/
/** FACETIME **/
.app1-text {
  font-family: "SFDisplay Regular";
  color: #fff;
  font-size: 15px;
  position: relative;
  bottom: 205px;
  left: 17px;
}

/** CALENDAR **/
.app2-text {
  font-family: "SFDisplay Regular";
  color: #fff;
  font-size: 15px;
  position: relative;
  bottom: 205px;
  left: 40px;
}

/** PHOTOS **/
.app3-text {
  color: #fff;
  font-family: "SFDisplay Regular";
  font-size: 15px;
  position: relative;
  bottom: 205px;
  left: 70px;
}

/** CAMERA **/
.app4-text {
  color: #fff;
  font-family: "SFDisplay Regular";
  font-size: 15px;
  position: relative;
  bottom: 205px;
  left: 104px;
}

/** MAIL **/
.app5-text {
  color: #fff;
  font-family: "SFDisplay Regular";
  font-size: 15px;
  position: relative;
  bottom: 100px;
  right: 191px;
}

/** CLOCK **/
.app6-text {
  color: #fff;
  font-family: "SFDisplay Regular";
  font-size: 15px;
  position: relative;
  bottom: 100px;
  right: 142px;
}

/** MAPS **/
.app7-text {
  color: #fff;
  font-family: "SFDisplay Regular";
  font-size: 15px;
  position: relative;
  bottom: 100px;
  right: 97px;
}

/** WEATHER **/
.app8-text {
  color: #fff;
  font-family: "SFDisplay Regular";
  font-size: 15px;
  position: relative;
  bottom: 118px;
  left: 275px;
}

/** REMINDERS **/
.app9-text {
  color: #fff;
  font-family: "SFDisplay Regular";
  font-size: 15px;
  position: relative;
  bottom: 10px;
  right: 44px;
}

/** NOTES **/
.app10-text {
  color: #fff;
  font-family: "SFDisplay Regular";
  font-size: 15px;
  position: relative;
  bottom: 10px;
  right: 14px;
}

/** STOCKS **/
.app11-text {
  color: #fff;
  font-family: "SFDisplay Regular";
  font-size: 15px;
  position: relative;
  bottom: 10px;
  left: 25px;
}

/** BOOKS **/
.app12-text {
  color: #fff;
  font-family: "SFDisplay Regular";
  font-size: 15px;
  position: relative;
  bottom: 10px;
  left: 66px;
}

/*** INSIDE APPS ***/
.in-appbg {
  background: url("https://cdn.glitch.com/36a0a6ba-3023-4419-b7c2-f31390a098f8%2Fappbg-white.png");
  background-repeat: no-repeat;
  background-size: 362px 782px;
}

.in-notesapp-bg {
  background: url("https://cdn.glitch.com/36a0a6ba-3023-4419-b7c2-f31390a098f8%2Fnotebg-white.png");
  background-repeat: no-repeat;
  background-size: 362px 782px;
}

.in-mailapp-bg {
  background: url("https://cdn.glitch.com/36a0a6ba-3023-4419-b7c2-f31390a098f8%2Fmailbg.png?v=1620794901864");
  background-repeat: no-repeat;
  background-size: 362px 782px;
}

.in-clockapp-bg {
  background: url("https://cdn.glitch.com/36a0a6ba-3023-4419-b7c2-f31390a098f8%2Fclockbg.png?v=1620799098761");
  background-repeat: no-repeat;
  background-size: 362px 782px;
}

.in-safariapp-bg {
  background: url("https://raw.githubusercontent.com/pemulator/iphone12/main/assets/safaribg.png");
  background-repeat: no-repeat;
  background-size: 362px 782px;
}

.not-available {
  font-size: 30px;
}

/** NOTES APP **/
.notes-bottom {
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0px 0px 45px 45px;
}
.notes-count {
  text-align: center;
  font-family: "SFDisplay Regular";
  font-weight: bold;
  letter-spacing: 1px;
}
.notes-title {
  font-family: "SFDisplay Bold";
  position: relative;
  font-size: 35px;
  top: 15px;
  left: 15px;
}

.notes-write {
  color: #F1D78C;
  position: relative;
  text-align: right;
  right: 10px;
  bottom: 73px;
}

.notes-list {
  border-bottom: 1px solid #E5E5E5;
  width: 90%;
  margin: auto;
  height: 50px;
}
.notes-list-title {
  font-family: "SFDisplay Regular";
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #000;
}
.notes-list-time {
  font-family: "SFDisplay Regular";
  color: #A3A3A3;
}
.notes-list-preview {
  font-family: "SFDisplay Regular";
  color: #B9B9B9;
}

.notes-back {
  color: #DDB53B;
  font-family: "SFDisplay Regular";
  font-size: 25px;
}
.notes-back a:link {
  color: #DDB53B;
}
.notes-back a:visited {
  color: #DDB53B;
}
.notes-arrow {
  font-size: 30px;
}

.notes-writing-title {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-family: "SFDisplay Bold";
  font-size: 25px;
  color: #000;
  background-color: rgb(0, 0, 0, 0);
  caret-color: #DBB13D;
}
.notes-writing-content {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-family: "SFDIsplay Regular";
  color: #000;
  font-size: 20px;
  height: 550px;
  background-color: rgb(0, 0, 0, 0);
  caret-color: #DBB13D;
}

/** MAIL APP **/
.mailbox-title {
  font-family: "SFDisplay Bold";
  position: relative;
  font-size: 35px;
  top: 15px;
  left: 15px;
}
.mailbox-list {
  background-color: #FFF;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  border-radius: 0px 0px 45px 45px;
}
.mail-1 {
  position: absolute;
  left: 0;
  border-top: 1px solid #F4F1F5;
  border-bottom: 1px solid #F4F1F5;
  width: 100%;
  height: 13%;
  background: #fff;
}
.mail-1:hover {
  background: #CDCDCD;
}

.mailbox-back {
  font-family: "SFDisplay Light";
  position: relative;
  font-size: 25px;
  top: 15px;
  left: 15px;
}
.mailbox-back a:link {
  color: #1171C7;
}
.mailbox-back a:visited {
  color: #1171C7;
}
.mailbox-back a:hover {
  color: #0C4D87;
}

.mailbox-arrow {
  font-size: 30px;
}

.mail-content {
  margin: auto;
  width: 90%;
}

.mail-author {
  font-family: "SFDisplay Bold";
  font-size: 20px;
  position: relative;
  top: 5px;
  color: #000;
}
.mail-title {
  font-family: "SFDisplay Light";
  font-weight: bold;
  font-size: 15px;
  position: relative;
  top: 3px;
  color: #000;
}
.mail-preview {
  font-family: "SFDisplay Light";
  color: #A6A5A8;
  position: relative;
  top: 3px;
}

a:link .mail-author, a:link .mail-title {
  color: #000;
}
a:visited .mail-author, a:visited .mail-title {
  color: #000;
}

/** CLOCK APP **/
.wc-title {
  text-align: center;
  font-family: "SFDisplay Bold";
  color: #fff;
  position: relative;
  top: 25px;
  font-size: 20px;
}
.wc-clock-list {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90%;
}
.wc-clock {
  background: #171617;
  border-top: 1px solid #212022;
  border-bottom: 1px solid #212022;
  width: 100%;
  height: 100px;
}
.wc-clock-location {
  font-family: "SFDisplay Light";
  color: #fff;
  font-size: 30px;
  position: relative;
  left: 15px;
  top: 20px;
}
.wc-clock-difference {
  font-family: "SFDisplay Light";
  color: #808080;
  position: relative;
  left: 15px;
  top: 20px;
}
.wc-clock-time {
  font-family: "SFDisplay Light";
  color: #fff;
  position: relative;
  left: 200px;
  bottom: 35px;
  font-size: 50px;
}
.wc-clock-period {
  font-family: "SFDisplay Light";
  color: #fff;
  font-size: 30px;
}

/** SAFARI APP **/
.safari-search {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-family: "SFDisplay Regular";
  text-align: center;
  border-radius: 7px;
  background: #E9E8EB;
  height: 25px;
}
.safari-search-text {
  font-size: 20px;
  padding: 10px;
  color: #000;
}
.safari-search-placeholder {
  color: #8F9090;
  font-size: 20px;
  padding: 10px;
}
.safari-lock {
  top: 1px;
  position: relative;
}

.safari-webpage {
  border-top: 1px solid #A9A9AC;
}
.safari-webpage1 {
  background: #F2F2F6;
  margin-top: 15px;
  position: absolute;
  left: 0;
  border-radius: 0px 0px 45px 45px;
  width: 100%;
  height: 693px;
}
.safari-webpage2 {
  background: #fff;
  margin-top: 15px;
  position: absolute;
  left: 0;
  border-radius: 0px 0px 45px 45px;
  width: 100%;
  height: 693px;
}

.safari-favorites-text {
  font-family: "SFDisplay Regular";
  font-weight: bold;
  left: 20px;
  top: 40px;
  letter-spacing: 0.5px;
  font-size: 25px;
  position: relative;
}
.safari-favorites {
  width: 88%;
  margin: auto;
  position: relative;
  top: 55px;
}
.safari-favorites1 {
  background: #F2F2F2;
  height: 75px;
  width: 75px;
  border: 1px solid #E1E1E1;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, .2);
}
.safari-favorites-icon1 {
  position: relative;
  top: 10px;
  left: 15px;
}
.safari-favorites2 {
  background: #FFFFFF;
  height: 75px;
  width: 75px;
  border: 1px solid #E1E1E1;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, .2);
  position: relative;
  bottom: 95px;
  left: 95px;
}
.safari-favorites-icon2 {
  position: relative;
  left: 15px;
  top: 23px;
}

/* APPLE.COM */
.applecom-navbar {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  width: 100%;
  color: #D6D6D6;
  height: 40px;
}
.appcom-navbar-menu {
  position: relative;
  top: 11px;
  left: 15px;
}
.appcom-navbar-appleicon {
  position: relative;
  bottom: 13px;
}

/* EN.M.WIKIPEDIA.ORG */
.enmwikipediaorg-navbar {
  background: #E9EAEE;
  height: 50px;
}
.enmwikipediaorg-navbarmenu {
  position: relative;
  top: 13px;
  left: 20px;
}

/**** ANIMATIONS ****/
/*** CLASSES ***/
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/*** WEBKITS ***/
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
