.clock {
  font-size: 55px;
  position: absolute;
  top: 270px;
}

.date {
  font-size: 20px;
  position: absolute;
  top: 310px;
}

.open {
  border-radius: 10px;
  border: 3px solid #fff;
  margin-top: 755px;
  width: 100px;
}
